

thead {
float: left;
}

tbody{
  float: right;
}

th, {
  display: flex;
  flex-direction: column;
  border: solid .1rem black;
  text-align: left;
  min-height: 1rem;

}

td {
  display: flex;
  flex-direction: column;
  border: solid .1rem black;
  text-align: left;
  min-height: 1.5 rem;
}
